.name-container, .date-container, .first-adress-container, .state-container {
    display: flex;
    flex-direction: column;
   align-items: flex-start;
}
.main-info-container{
  margin: 0 16px;
}
.main-info-container, .input-adress-container {
    display: flex;
    align-items: flex-start;
  justify-content: space-between;
}

.department-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
}
.align-label-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.labeling{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px 10px 10px;
}
label {
    font-size:0.9rem;
    color: #362FD9;
}
input, select, label {
  margin: 0 10px 10px 10px;
}
select {
  width: auto;
  height: 25px;
  text-align: center;
}
input, select {
  border: thin solid #3C84AB;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.save-btn {
width: 85px;
height: 30px;
border: thin solid #362FD9;
border-radius: 5%;
color: #362FD9;
font-weight: 700;
background-color: white;
}

@media screen and (max-width: 550px) {
  .input-adress-container, .main-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name-container, .date-container, .first-adress-container, .state-container{
        align-items: center;
   }
   select{
    text-align: center;
   }
}